<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post" th:action="@{/main}">
        <input type="text" name="text" placeholder="Введите сообщение:"/>
        <input type="text" name="tag" placeholder="Введите тег:"/>
        <button type="submit">Добавить</button>
    </form>
</div>

<p>Список сообщений:</p>

<form method="get" th:action="@{/main}">
    <input type="text" name="tag" th:value="${tag}"/>
    <button type="submit">Найти</button>
</form>

<div th:each="message : ${message}">
    <b th:text="${message.id}"></b>
    <span th:text="${message.text}"></span>
    <i th:text="${message.tag}"></i>
    <strong th:text="${message.authorName}"></strong>
</div>
</body>
</html>