<!DOCTYPE HTML>
<html th:fragment="myHtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common :: myHead">
    <title>User edit page</title>
</head>
<body>
<nav th:insert="common :: myNav"></nav>
<div class="container mt-5">
    <p>User edit</p>
    <form method="post" th:action="@{/user/{id}/edit (id = ${user.id})}">
        <input type="text" name="username" th:value="${user.username}"/>

        <ul>
            <li th:each="role : ${roles}">
                <input type="checkbox" th:id="${role}" th:name="${role}" th:value="${role}"
                       th:checked="${#arrays.contains(user.roles, role)}"/>
                <label th:for="${role}" th:text="${role}"></label>
            </li>
        </ul>
        <input type="text" name="userId" th:value="${user.id}"/>
        <button type="submit">Save</button>
    </form>

    <a href="/main">Main page</a>
    <footer th:insert="common :: myFooter"></footer>
</div>
</body>
</html>