<!DOCTYPE HTML>

<html th:fragment="myHtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common :: myHead">
    <title>User messages</title>
</head>
<body>
<nav th:insert="common :: myNav"></nav>

<div class="container mt-5">

    <a  th:if="${message}"
        class="btn btn-primary mb-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Message editor
    </a>
    <div class="collapse show" id="collapseExample" th:if="${message}">
        <div class="form-group mt-3">
            <form method="post" th:action="@{/user-messages/{userId} (userId = ${#authentication.principal.id})}" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" th:name="text" placeholder="Введите сообщение:" th:if="${message}" th:value="${message.text}"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" th:name="tag" placeholder="Введите тег:" th:if="${message}" th:value="${message.tag}"/>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" name="file">
                        <label class="custom-file-label" for="inputGroupFile04">Добавить файл</label>
                    </div>
                </div>
                <input type="hidden" th:name="id" th:if="${message}" th:value="${message.id}"/>
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <h3 th:text="${userChannel.username}"></h3>
    <a class="btn btn-info" th:if="${!isCurrentUser} and ${!isSubscriber}"
       th:href="@{/user/subscribe/{id} (id = ${userChannel.id})}">Subscribe</a>
    <a class="btn btn-info" th:if="${!isCurrentUser} and ${isSubscriber}"
       th:href="@{/user/unsubscribe/{id} (id = ${userChannel.id})}">Unsubscribe</a>
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscriptions</div>
                        <h3 class="card-text">
                            <a th:href="@{/user/subscriptions/{id}/list (id = ${userChannel.id})}" th:text="${subscriptionsCount}">SubscriptionsCount</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscribers</div>
                        <h3 class="card-text">
                            <a th:href="@{/user/subscribers/{id}/list (id = ${userChannel.id})}" th:text="${subscribersCount}">SubscribersCount</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Список сообщений:</p>

    <div class="card-columns">
        <div class="card" th:each="message : ${messages}">
            <div class="card-img-top" th:if="${message.filename}">
                <img th:src="@{/img/{filename}(filename = ${message.filename})}">
            </div>

            <div class="card-body">
                <b class="card-title" th:text="${message.tag}"></b>
                <p class="card-text" th:text="${message.text}"></p>
            </div>
            <div class="card-footer">
                <strong th:text="${message.authorName}"></strong>
                <a class="btn btn-primary"
                   th:if="${message.author.id == #authentication.principal.id}"
                   th:href="@{/user-messages/{authorId}?message={messageId} (authorId = ${message.author.id}, messageId = ${message.id})}">Edit</a>
            </div>
        </div>
    </div>


    <footer th:insert="common :: myFooter"></footer>

</div>

</body>
</html>